/build/
/config/
/dist/
/*.js
/src/
/src/views/modules/flowable/display/
/static/display/
/src/components/colors/
/src/views/modules/flowable/modeler/bpmn-js-properties-panel/
/src/views/modules/flowable/modeler/properties-panel-extension/
/src/views/modules/flowable/modeler/bpmn-js/
/src/views/modules/flowable/modeler/bpmn-font/
/src/views/modules/flowable/modeler/bpmn-moddle/
/src/flowable/
/src/packages2/packages/
/src/form/packages/
/src/formbuilder/packages/
/src/formbuilder/packages2/
/src/formbuilder/packages2/util